<h2>Category list:</h2>

<hr />

<a href="/admin/categories/add">
  <button class="btn btn-success">New category</button>
</a>
{{#each categories}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{name}}</h4>
      <small>Slug: {{slug}}</small>
      <br />
      <small>Creation date: {{date}}</small>
      <br />
      <a href="/admin/categories/edit/{{_id}}">
        <button class="btn btn-success mt-4">Edit category</button>
      </a>
      <form action="/admin/categories/delete" method="post">
        <input type="hidden" name="id" value="{{_id}}" />
        <button type="submit" class="btn btn-danger mt-2">Delete category</button>
      </form>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">No categories registered!</h4>
{{/each}}