{{#each errors}}
  <div class="alert alert-danger">{{message}}</div>
{{else}}

{{/each}}

<h3>Edit post:</h3>

<div class="card">
  <div class="card-body">
    <form action="/admin/posts/edit" method="post">
      <input type="hidden" name="id" value="{{post._id}}" />
      <label for="title">Title:</label>
      <input
        type="text"
        name="title"
        class="form-control"
        value="{{post.title}}"
        required
      />
      <label for="slug">Slug:</label>
      <input
        type="text"
        name="slug"
        class="form-control"
        value="{{post.slug}}"
        required
      />
      <label for="description">Description:</label>
      <input
        type="text"
        name="description"
        class="form-control"
        value="{{post.description}}"
        required
      />
      <label for="content">Content:</label>
      <textarea
        name="content"
        class="form-control"
        required
      >{{post.content}}</textarea>
      <label for="category">Category:</label>
      <select name="category" class="form-select">
        {{#each categories}}
          <option value="{{_id}}">{{name}}</option>
        {{else}}
          <option value="0">No category registered!</option>
        {{/each}}
      </select>
      <button type="submit" class="btn btn-success mt-4">Edit post</button>
    </form>
  </div>
</div>