<h2>Post list:</h2>
<hr />

<a href="/admin/posts/add">
  <button class="btn btn-success">New post</button>
</a>

{{#each posts}}
  <div class="card mt-4">
    <div class="card-body">
      <h4>{{title}}</h4>
      <p>Description: {{description}}</p>
      <small>Publication date: {{date}}</small>
      <br />
      <small>Category: {{category.name}}</small>
      <br />
      <a href="/admin/posts/edit/{{_id}}" class="text-decoration-none">
        <button class="btn btn-success mt-4">Edit post</button>
      </a>
      <a href="/admin/posts/delete/{{_id}}">
        <button class="btn btn-danger mt-4">Delete post</button>
      </a>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">No registered posts!</h4>
{{/each}}