<h1>{{category.name}}</h1>

{{#each posts}}
  <div class="card mt-4">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="/post/{{slug}}">
        <button class="btn btn-success">Read more</button>
      </a>
      <hr />
      <small>Publication date: {{date}}</small>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">No posts!</h4>
{{/each}}